---
import Layout from "../layouts/Layout.astro";
---

<script>
  const evtSource = new EventSource("http://localhost:3000/mastodon");

  evtSource.addEventListener("mastodon", (event) => {
    const { type, data } = event;
    const outputDiv = document.getElementById("output");
    const lastCheckedDiv = document.getElementById("lastChecked");

    if (data && data !== '""') {
      const contents = data.substring(1, data.length - 2);
      outputDiv.innerHTML = `<div class="w-1/2 rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
  <div class="p-6">
    <p class="block font-sans text-base font-light leading-relaxed text-inherit antialiased">${contents}
    </p>
  </div>
</div>`;
    }
    lastCheckedDiv.innerText = new Date().toLocaleTimeString();
  });
</script>

<Layout title="Server Sent Events with the Mastodon API">
  <main class="text-center">
    <h1 class="text-2xl font-bold">Mastodon Public Posts Feed</h1>
    <p class="mb-4">Last checked: <span id="lastChecked"></span></p>
    <div id="output" class="flex justify-center"></div>
  </main>
</Layout>
