---
import Layout from "../layouts/Layout.astro";
---

<script>
  const evtSource = new EventSource("http://localhost:3000/mastodon");

  evtSource.addEventListener("mastodon", (event) => {
    const { type, data } = event;
    const outputDiv = document.getElementById("output");
    const lastCheckedDiv = document.getElementById("lastChecked");
    console.log(data);
    if (data && data !== '""') {
      outputDiv.innerHTML += data.substring(1, data.length - 2);
    }
    lastCheckedDiv.innerText = new Date().toLocaleTimeString();
  });
</script>

<Layout title="Astro Node App with SSE">
  <main>
    <h1>Mastodon Feed</h1>
    <p>Last checked: <span id="lastChecked"></span></p>
    <div id="output"></div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
